body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

a,
.secondary-text,
.img-container,
button {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;

}

.hero {
    padding: 16px 164px 128px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

button {
    padding: 8px 32px;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-weight: 600;
}

.hero-main {
    display: flex;
    gap: 32px;
    width: 1000px;
    margin: auto;
}

.left,
.img-container {
    flex: 1;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 400px;
    min-height: 200px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text {
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 256px 64px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-images {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.img-subtext {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
}

.info-img-container {
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
}

.info-img-subtext {
    text-align: center;
}

.quote {
    padding: 128px 256px;
    background-color: #e5e7eb;
}

.quote-text {
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote-text,
.quote-author {
    max-width: 1000px;
    margin: auto;
}

.quote-author {
    font-weight: bold;
    text-align: right;
    font-size: 16px;
}

.action {
    margin: 72px auto;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 32px 72px;
    display: flex;
    justify-content: space-around;
    gap: 72px;
    align-items: center;
    max-width: 700px;
}

.btn-secondary {
    border: 2px solid white;
}

.action-title {
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
}

.action-subtext {
    color: #e5e7eb;
    font-weight: 300;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-weight: 300;
    padding: 24px 128px;
    font-size: 12px;
}